@import "variable";

// /* customSlider.css */
.discount {
  .slide-group {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex: 1 0 0;
  }
  .slider-container {
    position: relative;
    width: 100%; /* 根据你的需求设置宽度 */
    height: 100%; /* 根据你的需求设置高度 */
    transform: rotate(-45deg); /* 将整个轮播容器倾斜45度 */
    margin: 0 auto; /* 设置左右外边距为auto，使轮播容器水平居中 */
    align-self: stretch;

    //   padding-top: 25%;
  }

  .slick-slide {
    transform: rotate(45deg); /* 将轮播项旋转 -45 度 */
    width: 200px; /* 调整轮播项的宽度 */
    height: 200px; /* 调整轮播项的高度 */
    transform-origin: center center;
  }

  .slide-item {
    //   transform: rotate(45deg);

    img {
      //   border: 1px solid #000;
      width: 100%; /* 让图片填充整个容器 */
      height: 100%; /* 让图片填充整个容器 */
      object-fit: cover; /* 避免图片被裁切 */
    }
  }
}
