// 引入變數使用
@import 'variable';

// /* customSlider.css */
.discount {
  .slide-group {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex: 1 0 0;
  }
  .slider-container {
    position: relative;
    width: 100%; /* 根據你的需求設置寬度 */
    height: 100%; /* 根據你的需求設定高度 */
    transform: rotate(-45deg); /* 將整個輪播容器傾斜45度 */
    margin: 0 auto; /* 設定左右外邊距為auto，使輪播容器水平居中 */
    align-self: stretch;

    //   padding-top: 25%;
  }

  .slick-slide {
    transform: rotate(45deg); /* 將輪播項旋轉 -45 度 */
    width: 200px; /* 調整輪播項的寬度 */
    height: 200px; /* 調整輪播項的高度 */
    transform-origin: center center;
  }

  .slide-item {
    //   transform: rotate(45deg);

    img {
      //   border: 1px solid #000;
      width: 100%; /* 讓圖片填滿整個容器 */
      height: 100%; /* 讓圖片填滿整個容器 */
      object-fit: cover; /* 避免圖片被裁切 */
    }
  }
}
