// 檔案位置: styles/global.scss
// 變數覆蓋用 (Variable overrides)
// // 全站配色 colors
// $primary: #894505;
// $secondary: rgba(44, 226, 31, 0.5);
// $success: #7eb4e6;
// $danger: #ff4136;

// // 按鈕圓角邊 button radius
// $border-radius: 0em;
// $border-radius-sm: 0.2em;
// $border-radius-lg: 0.2em;

$black: #070505;
$primary: rgb(163, 44, 45);
$secondary: rgb(225, 209, 178);
$success: rgb(41, 162, 30);
$warning: rgb(255, 201, 64);
$danger: rgb(255, 1, 1);
$light-primary: rgb(234, 105, 106);
$deep-primary: rgb(98, 27, 27);
$deep-gray: rgb(183, 180, 177);
$gray: rgb(229, 225, 221);

// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 導入所有 bootstrap 樣式
@import '~bootstrap/scss/bootstrap';
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓

// * {
//   font-size: 1.2rem;
//   font-family: 'Noto Sans';
//   // color: $secondary;
// }

body {
  @media (max-width: 992px) {
    padding: 0px;
  }
  padding: 0px 20px;
  position: relative;

  .my-container-fluid {
    @media (max-width: 992px) {
      border-radius: 0px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 0px;
    }
    // height: 200vh;
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    border-radius: 70px;
    background: $primary;

    header {
      @media (max-width: 992px) {
        // border 手機版有奇怪的破圖才設的 或許可拿掉
        border-right: 12px solid $primary;
        border-left: 12px solid $primary;
        padding: 10px 0px 0px 0px;
      }
      padding: 15px 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      // Navbar設定
      .navbar .container-fluid {
        font-size: 1.2rem;
        height: 54px;

        @media (max-width: 992px) {
          height: initial;
          padding: 0px;
          justify-content: center;
        }
      }

      // 手機板漢堡設定
      .navbar-toggler {
        border: none;
        color: $secondary;
        padding: 0;
      }
      .navbar-toggler-icon {
        height: 25px;
      }
      .navbar-toggler:focus {
        box-shadow: none;
        color: $light-primary;
      }
      .navbar-toggler .navbar-toggler-icon {
        background-image: none;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      //

      // Navbar連結設定

      // 手機板上欄
      .inline-nav {
        @media (max-width: 992px) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          width: 100%;
          padding: 0px 16px;
          margin-bottom: 10px;
        }
      }

      // 手機板右邊icons
      .container-fluid .right-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .navbar-brand.min-cart {
        @media (max-width: 992px) {
          display: flex;
          font-size: 25px;
          color: $secondary;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        display: none;
      }

      // Navbar相關設定
      .navbar-nav {
        @media (max-width: 992px) {
          display: flex;
          justify-content: center;
          align-items: start;
          gap: 0px;
          background-color: $secondary;
          border-radius: 20px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        //  網頁版下拉選單部分
        .triangle {
          position: absolute;
          border-color: transparent transparent #fff transparent;
          border-style: solid solid solid solid;
          border-width: 25px;
          top: -40px;
          left: 100px;
          /* 設定 width、height 可更好理解原理 */
          height: 0px;
          width: 0px;
        }
        .nav-item .dropdown-webbar {
          text-decoration: none;
        }
        .nav-item .dropdown-menu {
          // 定位
          top: 60px;
          left: -110px;
          // 外觀設定
          width: 210px;
          border: none;
          border-radius: 20px;
          --bs-dropdown-link-hover-bg: none;
          --bs-dropdown-link-active-bg: none;
          padding-top: 6px;
          padding-bottom: 0px;

          li:not(:last-child) {
            border-bottom: 2px dotted $gray;
          }
          .dropdown-item {
            color: $primary;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            display: flex;
            padding: 20px 20px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
          }
          .dropdown-item:hover {
            color: $light-primary;
          }
          .dropdown-item:active {
            color: $light-primary;
          }
        }

        // 手機板 Navbar的部分
        .view-nav-items .nav-item {
          @media (max-width: 992px) {
            display: flex;
            align-items: center;
            align-self: stretch;
          }
        }
        // 要調整連結的底圖要來這裡調
        .view-nav-items .nav-item:nth-child(-n + 2) {
          @media (max-width: 992px) {
            border-bottom: 1px dotted $primary;
          }
        }

        .nav-min-types {
          @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-self: stretch;
          }
          display: none;
        }

        .nav-min-types .nav-item {
          border-top: 1px dotted $primary;
        }

        //網頁版調整
        .view-nav-items {
          @media (max-width: 992px) {
            flex-direction: column;
          }
          display: flex;
          align-self: stretch;
          align-items: center;
          justify-content: center;
          .nav-link {
            @media (max-width: 992px) {
              width: initial;
            }
            width: 150px;
            text-align: center;
          }
        }

        // 以下為兩版共用的部分
        .nav-link {
          @media (max-width: 992px) {
            font-weight: 700;
            font-size: 16px;
            color: $primary;
            padding: 8px 20px;
          }
          color: $secondary;
        }
        .nav-link:hover {
          @media (max-width: 992px) {
            color: $light-primary;
          }
          color: $light-primary;
        }
        .nav-link.active {
          @media (max-width: 992px) {
            font-weight: 700;
            color: $light-primary;
            border: none;
            padding: 8px 20px;
          }
          color: $secondary;
          border: 2px solid $secondary;
          border-radius: 20px;
          padding: 4px 30px;
        }
        .nav-link.disabled {
          color: $deep-primary;
        }

        //右側圖案設定
        .nav-icon-items {
          @media (max-width: 992px) {
            display: none;
          }
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        .nav-icons {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .nav-icons .fa-bars {
          color: $secondary;
          font-size: 30px;
          margin-right: 10px;
        }
        .nav-icons .fa-user {
          font-size: 35px;
          color: $primary;
          background-color: $secondary;
          border: 1px solid $secondary;
          padding: 6px 6px 4px 6px;
          border-radius: 100px;
        }
        .nav-icons .fa-cart-shopping {
          font-size: 30px;
        }
      }
    }

    main {
      .bgColor {
        // display: flex;
        margin-top: -20px;
        border-right: 20px solid $primary;
        border-left: 20px solid $primary;
        padding: 20px;
        border-radius: 70px 70px 0px 0px;
        background-color: $secondary;
      }

      .simple-news {
        @media (max-width: 992px) {
          border: $primary solid 10px;
          border-radius: 30px 30px 0px 0px;
          padding: 20px 20px 40px 20px;
        }
        background-color: $secondary;
        border-radius: 70px 70px 0px 0px;
        border-right: 20px solid $primary;
        border-left: 20px solid $primary;
        padding: 30px 80px;
        // 暫時不要的
        // padding: 50px 80px 70px 80px;
        // margin-top: -20px;
        // display: flex;
        // align-items: center;
        // align-self: stretch;
        // background: $secondary;
        // border: 20px solid $primary;

        // h6 {
        //   margin-top: -6px;
        //   color: $black;
        //   font-size: 1.3rem;
        //   font-weight: bolder;
        //   line-height: normal;
        // }

        // .news {
        //   margin-top: -6px;
        //   display: flex;

        //   p {
        //     width: 350px;
        //     margin-left: 2rem;
        //     text-wrap: nowrap;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     color: $black;
        //   }
        // }
        //暫時不要的
      }

      .kv {
        @media (max-width: 992px) {
          border: $primary solid 10px;
          border-radius: 30px 30px 0px 0px;
          padding: 20px 20px 60px 20px;
        }
        height: 80vh;
        margin-top: -20px;
        background-color: $secondary;
        background-image: url(../public/images/layout/P_20240224_194256.jpg);
        background-size: cover;
        border-radius: 70px 70px 0px 0px;
        border: $primary solid 20px;
        padding: 80px 80px 150px 80px;
      }
      .section {
        @media (max-width: 992px) {
          border: $primary solid 10px;
          border-radius: 30px 30px 0px 0px;
          padding: 20px 20px 60px 20px;
        }
        display: flex;
        height: 100vh;
        padding: 80px 80px 150px 80px;
        align-self: stretch;
        position: relative;
        background: $secondary;
        background: linear-gradient(
            0deg,
            rgba(225, 209, 178, 0.8) 0%,
            rgba(225, 209, 178, 0.8) 100%
          ),
          url(../public/images/layout/bgc.jpg), lightgray 50%;
        margin-top: -40px;
        border-radius: 70px 70px 0px 0px;
        border: $primary solid 20px;
        flex-direction: column;
      }
    }

    footer {
      position: relative;
      height: 50vh;
      @media (max-width: 992px) {
        // border 手機版有奇怪的破圖才設的 或許可拿掉
        border-right: 12px solid $primary;
        border-left: 12px solid $primary;
        border-bottom: 12px solid $primary;
        padding: 15px;
      }
      .circle {
        @media (max-width: 992px) {
          padding: 80px;
          border-radius: 100px;
          top: -30px;
        }
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 200px;
        background-color: $primary;
        border-radius: 200px;
        top: -80px;
      }
      // position: relative;
      // // padding: 75px 0 44px;
      // margin-top: -50px;
      // margin-left: 0px;
      // margin-left: 0px;
      // background-image: url(../public/images/layout/footer.png);
      // background-position: top center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // border-left: 10px solid $primary;
      // border-right: 10px solid $primary;
    }
  }
}

// google Noto Sans TC 字體
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap';

// 定義中文字體用
body {
  font-family: 'Noto Sans', 'Noto Sans TC Regular', Helvetica, Arial,
    'PingFang TC', '苹方-繁', 'Heiti TC', '黑體-繁', 'Microsoft JhengHei',
    '微軟正黑體',
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    'Segoe UI',
    // Android
    Roboto,
    // Basic web fallback
    'Helvetica Neue',
    Arial,
    // Linux
    'Noto Sans',
    'Liberation Sans',
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
